.services {
  text-align: center;
  margin-top: 46px;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
  }

  &__list-item {
    width: 380px;
    text-align: left;
    // padding-left: 82px;
    // margin-left: 20px;
    display: flex;
    flex-direction: row;
  }

  &__list-image {
    width: 32px;
    height: 32px;
    fill: rgba(149, 225, 211, 1);
    transform: scale(0.7);
  }

  &__title {
    margin-top: 20px;
  }

  &__title::after {
    content: "";
    background-color: rgba(243, 129, 129, 1);
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    width: 60px;
    height: 3px;
  }

  &__list-item:nth-child(n+4) {
    padding-top: 100px;
  }

  &__list-image {
    width: 92px;
    display: flex;
    justify-content: center;
    // padding-top: 5px;
  }

  &__list-link-text {
    width: 300px;
  }
}
