.header__navigation-link:hover {
  color: rgba(252, 227, 138, 1);
  border-bottom: 3px solid rgba(252, 227, 138, 1);
  padding-bottom: 12px;
  transition: 0.5s;
}

.icon:hover {
  color: rgba(252, 227, 138, 1);
  border-bottom: 3px solid rgba(252, 227, 138, 1);
  padding-bottom: 12px;
  transition: 0.5s;
}

.header__logo-link:hover {
  color: rgba(252, 227, 138, 1);
  transition: 0.5s;
}
